.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  min-height: 100vh;
  background-color: #0D4294;
}
.loginBox {
  width: 456px;
  height: 250px;
  background-color: #fff;
  border-radius: 8px;
}
